.contact {
  background-color: var(--black);
  padding: 30px 20px;
}

.contact h1 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--white);
  text-align: center;
}

.far {
  color: var(--gold);
}

.contact .contact-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.contact .contact-container form {
  display: flex;
  flex-direction: column;
}

.contact .contact-container input,
.contact .contact-container button,
.contact .contact-container textarea {
  width: 100%;
  margin-bottom: 25px;
  font-family: saira, sans-serif;
  font-size: 12px;
  padding: 5px;
}

.contact contact-container input {
  height: 36px;
}

.contact textarea {
  height: 120px;
}

.contact button {
  font-size: 14px;
  line-height: 40px;
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--white);
}

.contact .contact-container .socials {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.contact .social {
  display: flex;
  justify-content: left;
  padding: 10px 0;
  color: var(--white);
  font-family: saira condensed, sans-serif;
}

.contact .social span {
  line-height: 72px;
  padding-left: 20px;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .contact h1 {
    font-size: 60px;
    padding: 30px 0;
  }

  .contact .contact-container {
    flex-direction: row;
  }

  .contact .contact-container form,
  .contact .contact-container .socials {
    width: 50%;
    padding: 0 20px;
  }

  .contact .social {
    padding-left: 20%;
  }

  .contact input,
  .contact button,
  .contact textarea {
    margin-bottom: 35px;
  }

  .contact input {
    height: 46px;
    font-size: 24px;
  }

  .contact textarea {
    height: 180px;
    font-size: 24px;
  }

  .contact button {
    font-size: 20px;
    line-height: 50px;
    transition: 0.3s;
    cursor: pointer;
  }

  .contact button:hover {
    color: var(--black);
    background-color: var(--white);
  }
}
