footer {
  background: linear-gradient(
    -45deg,
    var(--orange),
    var(--pink),
    var(--light-blue),
    var(--turkus)
  );
  color: var(--gold);
  font-family: saira, sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@media (min-width: 916px) {
  footer .fab {
    padding-left: 5vw;
    padding-right: 5vw;
    transform: scale(1.5);
  }
}
